<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Controle de Equipamentos</title>
</head>
<body>
    <h1>Controle de Equipamentos</h1>

    <h2>Controle de Fabricantes</h2>
    <ul>
        <li><a href="/fabricantes/cadastrar">Cadastrar novo Fabricante</a></li>
        <li><a href="/fabricantes/visualizar">Visualizar Fabricantes</a></li>
    </ul>

    <hr />

    <h2>Controle de Equipamentos</h2>
    <ul>
        <li><a href="/equipamentos/cadastrar">Cadastrar novo Equipamento</a></li>
        <li><a href="/equipamentos/visualizar">Visualizar Equipamentos</a></li>
    </ul>

    <hr />

    <h2>Controle de Chamados</h2>
    <ul>
        <li><a href="/chamados/cadastrar">Cadastrar novo Chamado</a></li>
        <li><a href="/chamados/visualizar">Visualizar Chamados</a></li>
    </ul>
</body>
</html>