<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastrar Fabricantes/Controle de Equipamentos</title>
</head>
<body>
    <h1>Controle de Equipamentos</h1>
    <h2>Cadastro de Fabricante</h2>

    <form method="post" action="/fabricantes/cadastrar">
        <label>Nome</label><br />
        <input type="text" name="nome"/>

        <br />

        <label>Email </label><br />
        <input type="text" name="email"/>

        <br />

        <label>Telefone</label><br />
        <input type="text" name="telefone"/>
        <hr />

        <button type="submit">Salvar</button>

    </form>
</body>
</html>